<h1>Продукты</h1>

<div class="buffer-both">
  <%= link_to 'Добавить продукт', new_product_path, class: 'btn btn-success' %>
</div>

<div class="row buffer-bottom">
  <%= render partial: 'products/product', collection: @products %>
</div>
